.flex-container {
  max-width: 800px;
  display: flex;
  background-color: #fff;
  padding: 1em;
  border-radius: 8px;
  margin: 1em auto;
}

.flex-item {
  background-color: rgb(28, 221, 156);
  color: white;
  padding: 1em;
  margin: 0.7em;
  text-align: center;
  border-radius: 4px;
  align-self: flex-end;
}