<html>
  <head>
    <title>Boooks EJS</title>
  </head>
  <body>
    <h1>Hoyy</h1>
    <ul>
      <% for (book of books ) { %>
      <p>title <%= book.title %></p>
      <p>author <%= book.author %></p>
      <% } %>
    </ul>
  </body>
</html>
